<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Histoia operacji</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <body>
    <h1>{{context.title}}</h1>

    <div>
      <a href="/"  class="btn btn-danger"> Strona główna</a>

    </div>

    <h3>Historia operacji:  </h3>
    {%if context.historia%}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Operacja</th>
        </tr>
      </thead>
      <tbody>
        {% for x in context.historia%}
        <tr>
          <th scope="row">{{x.id}}</th>
          <td>{{x.zadanie}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

    {%else%}
    <P>Brak Historii</P>

    {%endif%}

    <h3 class="mt-5">Podaj zakres historii:</h3>


      <form action="/history" method="POST">
      <div class="mb-3">
        <label for="start" class="form-label">Początek</label>
        <input type="number" placeholder="Podaj początek zakresu" class="form-control" id="start" name="start">

      </div>
      <div class="mb-3">
        <label for="koniec" class="form-label">Koniec</label>
        <input type="number" placeholder="Podaj koniec zakresu" class="form-control" id="koniec" name="koniec">
      </div>

      <button type="submit" class="btn btn-primary">Zatwierdź</button>
    </form>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>

</html>